
*.json
Processamento Documento Unico Inteligente/extracao/extracao.xlsx
Processamento Documento Unico Inteligente/Main.xaml
Processamento Documento Unico Inteligente/documentos/Formulário_Seguro.pdf
Processamento Documento Unico Inteligente/.local/PositionData/cc0c3/NoGroup.NoCategory.formulario/46e59425.0.text.txt
Processamento Documento Unico Inteligente/.local/nuget.cache
Processamento Documento Unico Inteligente/.local/db/references.db
Processamento Documento Unico Inteligente/.local/Processamento Documento Unico Inteligente.nuget.props
Processamento Documento Unico Inteligente/.local/PositionData/cc0c3/NoGroup.NoCategory.formulario/46e59425.0.original.pdf
Processamento Documento Unico Inteligente/.objects/.type
Processamento Documento Unico Inteligente/.objects/.metadata
